* {background: linear-gradient(to bottom, rgba(245, 245, 245, 1), rgba(0, 0, 0, 0.936)); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
.form-register {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
}
.form-register h4 {
    background: black;
    font-size: 22px ;
    margin-bottom: 20px;
}
.controls {
    color: white;
    width:100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
}
.form-register .botons {
 width: 100%;
 background: #1f53c5;
 border: none;
 padding: 12px;
 color: white;
 margin: 16px 0;
 font-size: 16px;
}
.form-register .botons:hover {
    color: rgba(0, 0, 255, 0.447);
}