.container {
    background: linear-gradient(rgb(15, 12, 12), rgba(255, 255, 255, 0.74));
    font-family: 'Press Start 2P', cursive;
}

.slide{
    margin-top: 10px;
}
.slide img {
    height: 75vh;    
}