* {
    padding-left: 10px;
    padding-right: 10px;
}

#publicidad {
    display: flex;
    width: 50;
    height: 70;
}

.font {
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: 'Press Start 2P', cursive;
}

.jugar {
    height: 90px;
    width: 145px;
    border: 1px solid #060607c2;
    padding: 30px;
    background-color: #0bf1d3;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 50px;
}

.slider {
    width: auto;
    height: auto;
    overflow: hidden;
    animation: cambio 20s infinite;
}

.slider ul {
    display: flex;
}

.slider li {
    list-style: none;
    width: 400%;
    padding-left:70px;
    padding-right: 50px;
}

.slider img {
    width: 600px;
    height: 700px;

}


@keyframes cambio {
    0% {
        margin-left: 0;
    }

    15% {
        margin-left: 0;
    }

    20% {
        margin-left: -100%;
    }

    35% {
        margin-left: -100%;
    }

    40% {
        margin-left: -200%;
    }

    55% {
        margin-left: -200%;
    }

    60% {
        margin-left: -300%;
    }

    75% {
        margin-left: -300%;
    }

    80% {
        margin-left: -400%;
    }

    95% {
        margin-left: -400%;
    }

}